<% provide(:title, 'Inspirations') %>
<h1>Listing inspirations</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inspirations.each do |inspiration| %>
  <tr>
    <td><%= inspiration.name %></td>
    <td><%= inspiration.project_id %></td>
    <td><%= link_to 'Show', inspiration %></td>
    <td><%= link_to 'Edit', edit_inspiration_path(inspiration) %></td>
    <td><%= link_to 'Destroy', inspiration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inspiration', new_inspiration_path %>
