<%= form_for(:session, url: sessions_path) do |f| %>

	<div class="form">

		<div class="field">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

	  <%= link_to "New user?", "/register", style: "float:right;margin-top:10px" %>
		<%= f.submit "Sign in", class: "btn btn-large btn-primary", style: "clear:both" %>

	</div>
<% end %>

