<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
		<% @user.errors.delete(:password_digest) %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> occurred when trying to create your account:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="form">
		<div class="field">
		  <%= f.label :name %>
		  <%= f.text_field :name %>
		</div>
		<div class="field">
		  <%= f.label :email %>
		  <%= f.text_field :email %>
		</div>
		<div class="field">
		  <%= f.label :avatar %>
		  <%= f.file_field :avatar %>
		</div>
		<div class="field">
		  <%= f.label :password %>
		  <%= f.password_field :password %>
		</div>
		<div class="field">
		  <%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation %>
		</div>
		<div class="actions">
		  <%= f.submit %>
		</div>
	</div>
<% end %>
