<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
	<% @user.errors.delete(:password_digest) %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> occurred when trying to create your account:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="acc-avatar">
	  <%= @user.get_avatar() %>
	</div>
	<div class="form acc-form">
		<div class="field">
		  <%= f.label :name %>
		  <%= f.text_field :name, disabled: "disabled" %>
		</div>
		<div class="field">
		  <%= f.label :email %>
		  <%= f.text_field :email %>
		</div>
		<div class="field">
		  <%= f.label :change_password, style: "color:#9b1031;text-decoration:underline;cursor:pointer" %>
		  <%= f.check_box :change_password, value: false, style: "display:none" %>
		</div>
		<div id="password-area" style="display:none">
			<div class="field">
			  <%= f.label :password %>
			  <%= f.password_field :password, disabled: "disabled" %>
			</div>
			<div class="field">
			  <%= f.label :password_confirmation %>
			  <%= f.password_field :password_confirmation, disabled: "disabled" %>
			</div>
		</div>
	</div>
	<div class="field">	
	  <%= f.label :avatar %>
	  <p style="font-size: 10px;margin: 0;line-height: 10px;color:#9b1031;">Recommended width at least 320px</p>
	  <%= f.file_field :avatar %>
	</div>
	<div class="field" style="float:right;">
	  <%= link_to "Delete my account", "#", class: "btn btn-warning", id: "delete-btn" %>
	  <div id="confirm-delete">
	    <p style="font-size:12px;line-height:14px;padding: 5px 0">Are you sure? There will be no way for you to get your projects back!</p>
	    <%= link_to "I'm sure, goodbye... :(", current_user, method:"delete", class: "btn btn-danger" %>
	  </div>
	</div>
	<div class="actions">
	  <%= f.submit "Update", class: "btn btn-large btn-primary" %>
	</div>
	<div class="clearfix"></div>
<% end %>
