<% provide(:title, @user.name) %>



<div id="project-details">
  <div id="project-image"><%= @user.get_avatar() %></div>
  <br/>
  <div class="details">
    <div class="left">
      <p><b>Name</b></p>
      <p><%= @user.name %>
    </div>
    <div class="right">
      <p><b>Email</b></p>
      <p><%= @user.email %></p>
    </div>
    <% if signed_in? && current_user.id == @user.id %>
    <center>
      <%= link_to 'Add new project <i class="icon-plus icon-white"></i>'.html_safe, '/projects/new', class: "btn btn-large btn-primary" %>
      <%= link_to 'Edit account <i class="icon-wrench"></i>'.html_safe, "/users/#{current_user.id}/edit", class: "btn btn-large btn-secondary" %>
      <%= link_to 'Sign out <i class="icon-off"></i>'.html_safe, signout_path, method: "delete", class: "btn btn-large btn-secondary" %>
    </center>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>

<p id="notice"><%= notice %></p>

<div class="box-group project-boxes">
  <h3>Projects</h3>
  <%= @user.get_projects() %>
</div>

<div class="clearfix"></div>

<!-- <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
