<% provide(:title, @user.name) %>



<div id="project-details">
  <div id="project-image"><%= @user.get_avatar() %></div>
  <br/>
  <div class="details">
    <div class="left">
      <p><b>Name</b></p>
      <p><%= @user.name %>
    </div>
    <div class="right">
      <p><b>Email</b></p>
      <p><%= @user.email %></p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<p id="notice"><%= notice %></p>
<span><%= print @user.avatar.url %></span>
<div class="box-group project-boxes">
  <h3>Projects</h3>
  <%= @user.get_projects() %>
</div>

<div class="clearfix"></div>

<!-- <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
