<%= form_for(@project) do |f| %>
		<% if @project.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

		    <ul>
		    <% @project.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
	<div class="pro-avatar">
		<img src='<%= @project.thumbnail.url %>' alt=''/>
	</div>
	<div class="form">
		<div class="field">
		  <%= f.label :title %>
		  <%= f.text_field :title %>
		</div>
		  <%= f.hidden_field :user_id, value: current_user.id %>
		<div class="field">
		  <%= f.label :thumbnail %>
		  <p style="font-size: 10px;margin: 0;line-height: 10px;color:#9b1031;">Recommended minimum size: 165x165px</p>
		  <%= f.file_field :thumbnail %>
		</div>
		<div class="field">
		  <%= f.label :synopsis %>
		  <%= f.text_area :synopsis %>
		</div>
		<div class="field">
		  <%= f.label :genres %>
		  <%= get_genre_dropdown() %>
		</div>
		<div class="field">
		  <%= f.label :format %>
		  <%= get_format_dropdown() %>
		</div>
		<div class="actions">
		  <%= f.submit class: "btn large-btn btn-primary" %>
		</div>
	</div>
<% end %>
