<%= form_for(@project) do |f| %>
		<% if @project.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

		    <ul>
		    <% @project.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
	<div class="pro-avatar">
		<img src='<%= @project.thumbnail.url %>' alt=''/>
	</div>
	<div class="form">
		<div class="field">
		  <%= f.label :title %>
		  <%= f.text_field :title %>
		</div>
		  <%= f.hidden_field :user_id, value: current_user.id %>
		<div class="field">
		  <%= f.label :thumbnail %>
		  <p style="font-size: 10px;margin: 0;line-height: 10px;color:#9b1031;">Recommended minimum size: 165x165px</p>
		  <%= f.file_field :thumbnail %>
		</div>
		<div class="field">
		  <%= f.label :synopsis %>
		  <%= f.text_area :synopsis %>
		</div>
		<div class="field">
		  <%= f.label :genres %>
		  <span style="font-size:10px;font-style:italic;">Separate genres using commas or slashes.</span><br/>
		  <div class="suggested">
		  	<%= suggested_genres() %>
		  </div>
		  <div class="tag-input">
		  	<%= tag_gen(@project.genres, "genres", true, nil) %>
		  	<input type="text" id="genre-tag"/>
		  	<div class="clearfix"></div>
		  	<%= f.hidden_field :genres %>
		  </div>
		</div>
		<div class="field">
		  <%= f.label :format %>
		  <span style="font-size:10px;font-style:italic;">Separate formats using commas or slashes.</span><br/>
		  <div class="suggested">
		  	<%= suggested_formats() %>
		  </div>
		  <div class="tag-input">
		  	<%= tag_gen(@project.format, "format", true, nil) %>
		  	<input type="text" id="format-tag"/>
		  	<div class="clearfix"></div>
		  	<%= f.hidden_field :format %>
		  </div>
		</div>
		<div class="field">
			<%= f.check_box :privacy, :style => 'width:20px;float:left;' %>
			<label style="display:inline">Make this project private</label>
		</div>
		<div class="actions">
		  <%= f.submit class: "btn large-btn btn-primary" %>
		</div>
	</div>
<% end %>
