<% provide(:title, @project.title) %>
<div id="overlay">
</div>
<div class="frame-container animated"">
	<iframe style="width:100%;height:100%;overflow-x:hidden;border:none;padding-bottom:5px;">
	</iframe>
	<i class="icon-remove close-frame" style="float:right;cursor:pointer"></i>
</div>

<div id="project-details">
  <div id="project-image"><%= @project.get_thumbnail() %></div>
  <div class="details" style="width:242px;margin:0 auto">
      <h2 style="text-align:center"><%= @project.title %></h2>
      <p><strong>Author</strong></p>
      <p><%= link_to User.find(@project.user_id).name, User.find(@project.user_id)  %></p>
      <div class="left">
        <p><strong>Genre</strong></p>
        <p><%= lookup_genre(@project.genres) %></p>
      </div>
      <div class="right">
        <p><strong>Format</strong></p>
        <p><%= lookup_format(@project.format) %></p>
      </div>
      <p><strong>Synopsis</strong><span class="show-synopsis"><img src="/assets/show-more.png"></span></p>
      <p class="synopsis"><%= @project.synopsis %></p>
  </div>
      <% if signed_in? && current_user.id == @project.user_id %>
      <% owner = true %>
      <center>
      <%= link_to 'Edit project <i class="icon-white icon-align-justify"></i>'.html_safe, edit_project_path(@project).to_s, class: "btn btn-large btn-primary" %>
      <%= link_to 'Add new character <i class="icon-user"></i><i class="icon-plus"></i>'.html_safe, '/characters/new?pid=' + @project.id.to_s, class: "btn btn-large" %>
      <%= link_to 'Add new scene <i class="icon-film"></i><i class="icon-plus"></i>'.html_safe, '/scenes/new?pid=' + @project.id.to_s, class: "btn btn-large" %>
      <%= link_to 'Add new location <i class="icon-map-marker"></i><i class="icon-plus"></i>'.html_safe, '/locations/new?pid=' + @project.id.to_s, class: "btn btn-large" %>
      <%= link_to 'Add new music <i class="icon-music"></i><i class="icon-plus"></i>'.html_safe, '/musics/new?pid=' + @project.id.to_s, class: "btn btn-large" %>
      <%= link_to 'Add new inspiration <i class="icon-picture"></i><i class="icon-plus"></i>'.html_safe, '/inspirations/new?pid=' + @project.id.to_s, class: "btn btn-large" %>
    </center>
   	<% else  %>
  	 	<% if signed_in? %>
  	 	<center>
				<%= link_to 'Leave feedback <i class="icon-star-empty icon-white"></i><i class="icon-star icon-white"></i><i class="icon-star icon-white"></i>'.html_safe, '/feedbacks/new', class: "btn btn-large btn-success" %>
  	 	</center>
	   	<% end %>
    <% end %>
  <div class="clearfix"></div>
</div>

<p id="notice"><%= notice %></p>

<div class="box-group character-boxes">
  <h3>Characters</h3>
  <%= @project.get_thing("characters", owner) %>
</div>

<div class="box-group scene-boxes">
  <h3>Scenes/Chapters</h3>
  <%= @project.get_thing("scenes", owner) %>
</div>

<div class="box-group location-boxes">
  <h3>Locations</h3>
  <%= @project.get_thing("locations", owner) %>
</div>

<div class="box-group music-boxes">
  <h3>Music</h3>
  <%= @project.get_thing("musics", owner) %>
</div>

<div class="box-group inspiration-boxes">
  <h3>Inspiration</h3>
  <%= @project.get_thing("inspirations", owner) %>
</div>

<div class="box-group feedback-boxes">
  <h3>Feedback</h3>
</div>

<div class="clearfix"></div>
