<% provide(:title, @character.name) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<%= image_tag @character.image.url %>

<p>
  <b>Personality:</b>
  <%= @character.personality %>
</p>

<p>
  <b>Quotes:</b>
  <%= @character.quotes %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
