<% provide(:title, @character.name) %>

<p id="notice"><%= notice %></p>

<%= image_tag @character.image.url, class: "frame-image" %>

<h2 class="frame-title">
  <%= @character.name %>
</h2>

<p>
  <%= @character.personality %>
</p>

<p style="font-style:italic;">
  <%= @character.quotes %>
</p>

