<%= form_for(@feedback, :url => { :action => :create, :pid => params[:pid] }) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form">
  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :rating %>
    <span class="star input-star active" data-value="1"></span>
    <span class="star input-star active" data-value="2"></span>
    <span class="star input-star active" data-value="3"></span>
    <span class="star input-star" data-value="4"></span>
    <span class="star input-star" data-value="5"></span>
    <%= f.hidden_field :rating, value: 3 %>
    <div class="clearfix"></div>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :project_id, value: params[:pid] %>
  </div>
</div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :style => "resize:none" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
