<% provide(:title, @feedback.headline) %>

<p id="notice"><%= notice %></p>

<h1 class="frame-title">
  <%= @feedback.headline %>
  <span style="float:right">
    <% (1..@feedback.rating).each do |i| %>
     <span class="star active"></span>
    <% end %>
    <% (@feedback.rating..4).each do |i| %>
      <span class="star inactive"></span>
    <% end %>
  </span>
</h1>
<hr/>

<p>
  <%= @feedback.comments %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
