<h1>Listing l_ocations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @l_ocations.each do |l_ocation| %>
  <tr>
    <td><%= l_ocation.name %></td>
    <td><%= l_ocation.project_id %></td>
    <td><%= l_ocation.image %></td>
    <td><%= link_to 'Show', l_ocation %></td>
    <td><%= link_to 'Edit', edit_l_ocation_path(l_ocation) %></td>
    <td><%= link_to 'Destroy', l_ocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New L ocation', new_l_ocation_path %>
