<% if params[:pid] != nil %>
<%= form_for(@music) do |f| %>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 	<div class="pro-avatar">
		<img src='<%= @music.image.url %>' alt=''/>
	</div>
	<div class="form">
		<div class="field">
		  <%= f.label :name %><br />
		  <%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.hidden_field :project_id, value: params[:pid] %>
		</div>
		<div class="field">
		  <%= f.label :spotify_uri %><br />
		  <%= f.text_field :spotify_uri %>
		</div>
		<div class="field">
			<%= f.label :thumbnail %>
			<p style="font-size: 10px;margin: 0;line-height: 10px;color:#9b1031;">Recommended minimum size: 165x165px</p>
			<%= f.file_field :image %>
		</div>
		<div class="actions">
		  <%= f.submit  class: "btn large-btn btn-primary" %>
		</div>
	</div>
<% end %>
<% else %>
	<script>
		window.location = "/";
	</script>
<% end %>
