<% action = @location.new_record? ? "create" : "update" %>
<%= form_for(@location, :url => { :action => action, :pid => params[:pid] }) do |f| %>  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 	<div class="pro-avatar">
		<img src="<%= @location.image.url %>" alt=''/>
	</div>
	<div class="form">
		<div class="field">
		  <%= f.label :name %>
		  <%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :thumbnail %>
			<p style="font-size: 10px;margin: 0;line-height: 10px;color:#9b1031;">Recommended minimum size: 165x165px</p>
			<%= f.file_field :image %>
		</div>
		<div class="field">
		  <%= f.hidden_field :project_id, value: params[:pid] %>
		</div>
		<div class="field">
		  <%= f.label :description %>
		  <%= f.text_area :description, resize: 'vertical' %>
		</div>
		<div class="actions">
		  <%= f.submit class: "btn large-btn btn-primary" %>
		</div>
	</div>
<% end %>

