<% provide(:title, @location.name) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Project:</b>
  <%= @location.project_id %>
</p>

<p>
  <b>Image:</b>
  <%= @location.image %>
</p>

<p>
  <b>Description:</b>
  <%= @location.description %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
