  <footer>
    <div class="footer-logo">
      <h2 style="font-size:14px;float:left;">StoryStore</h2>
      <%= link_to image_tag("logo.png", alt: "StoryStore"), root_path %>
    </div>
    <div class="clearfix"></div>
    <% if signed_in? %>
      <div class="col-narrow">
	<p style="margin:0;"><strong><%= current_user.name %></strong></p>
        <ul>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "New project", "/projects/new" %></li>
        <li><%= link_to "Account", edit_user_path(current_user)  %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        </ul>
      </div>
    <% end %>

    <div class="col-narrow">
      <p style="margin:0;"><strong>Site links</strong></p>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if !signed_in? %>
	<li><%= link_to "Sign in", signin_path %></li>
        <li><%= link_to "Register", register_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-narrow">
      <p style="margin:0;"><strong>External</strong></p>
      <ul>
	<li><%= link_to "Twitter", "http://twitter.com/_StoryStore", target: "blank" %></li>
	<li><%= link_to "GitHub", "https://github.com/declantyson/great-british-dangerzone", target: "blank" %></li>
      </ul>
    </div>
    <div class="clearfix end"></div>
  </footer>
