<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= render 'layouts/fonts' %>
  <% if params[:lightbox] == "true" %>
  <link rel="stylesheet" href="/lightbox.css">
  <% end %>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="content">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
      <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
